body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFF7F2;
}

#c{
    width: 60%;
    justify-content: flex-start;
}

#login-info #n{ 
    font-size:56px;
    color: #2D2D2D;
    line-height:1;
    font-weight: 800;
}

#login-info #m{
    font-size:20px;
    color: #555555;
    line-height:1.6;
    font-weight: 400;
}

#signup-info #n{ 
    font-size:56px;
    color: #2D2D2D;
    line-height:1;
    font-weight: 800;
}

#signup-info #m{
    font-size:20px;
    color: #555555;
    line-height:1.6;
    font-weight: 400;
}


@keyframes fadeInDown {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.card-container {
    background: #ffffff;
    border-radius: 20px;
    width: 100%;
    max-width: 450px;
}


.form-control {
    border-radius: 10px;
    padding: 10px 15px;
}

.btn {
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s;
}

.btn-primary { background-color: #F77E23; border: none; }
.btn-primary:hover { background-color: #0089e3; transform: scale(1.02); }

.btn-success { background-color: #F77E23; border: none; color: #333; }
.btn-success:hover { background-color: #00d4e0; transform: scale(1.02); color: #000; }